<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitch聊天室關鍵詞分析</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<style>
    .border-success {
        border-width:5px !important;
    }
</style>

<body>

<div class="container">

    {% include 'navbar.html' %}

    <div class="row">
        <div class="col-lg-6 mb-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">選擇實況主</h3>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">類別</label>
                        <div class="col-md-9 select mb-3">
                            <select id="cat_select" name="stream_category" class="form-control">
                                <option>請選擇</option>
                                <option>遊戲</option>
                                <option>戶外</option>
                                <option>音樂</option>
                                <option>生活</option>
                                <option>畫圖</option>
                            </select>
                            </small>
                        </div>

                        <label class="col-sm-3 form-control-label">影片數量</label>
                        <div class="col-md-9 select mb-3">
                            <div class="slidecontainer">
                              <input type="range" min="1" max="20"  value="1" class="slider" id="myRange">
                              <p><span id="range_value"></span></p>
                            </div>
                        </div>

                    </div>

                    <ul id="cat_streamer"></ul>

                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-5">
            <div class="card">
                <div class="card-body">
                    <h5>狀態:</h5>
                    <div id="progress"></div>
                    <hr>
                    <div id="streamer_userdata"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="videodata"></div>


</div>

<!--浮動視窗-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" style="height: 360px">
          <div class="modal-header">
{#		    <h4 class="modal-title" style="text-align:center">878787878</h4>#}
            <button onclick="closeVideo()" type="button" class="close"  data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

          </div>

          <div class="video-container" >
				<div  id="videoContent"></div>
          </div>
{#          <div class="modal-footer" id="dbutton">#}
{##}
{#          </div>#}
        </div>
    </div>
</div>
<!---->





</body>
</html>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script>
    $(document).ready(function () {

        var videodata = document.getElementById("videodata");
        var videoContent = document.getElementById('videoContent');
        var progress = document.getElementById("progress");
        var videosCount = 1;

        $('#cat_select').on('change',function () {

            cat = $(this).val();
            if (cat === '請選擇') return;

            videodata.innerHTML = "";

            $('#cat_streamer').empty();

            $.ajax({
                type: "GET",
                url: "api_cat_streamer/",
                data: {"category": cat},
                success: function (received_data) {
                     var items = received_data['content'];
                     for (var i = 0; i < items.length; i++) {
                         var paste = "<li><a class='btn_like_streamer' streamer_id=" + items[i].sid + " href='#'>" + items[i].sname + "</a></li>";
                        console.log(paste);
                        $('#cat_streamer').append(paste);
                     }
                }
            });
        })

         $(document).on('click', 'a.btn_like_streamer', function () {
            progress.innerHTML = '讀取中 <progress id="p"></progress>';
            streamerid = $(this).attr('streamer_id');
            //console.log(streamerid);
            showVideos(streamerid,videosCount);
        });

        showVideos = function (streamer_id,videosCount) {
            $.ajax({
                type: "GET",
                url: "api_streamer_videos/",
                data: {"streamer_id": streamer_id,"videosCount":videosCount},
                success: function (received_data) {
                    progress.innerHTML = '讀取完成! <br/>數量:'+videosCount
                    videodata.innerHTML = "";

                     var items = received_data['content'];
                     var existVideos = received_data['checkVideo']
                     var flag = false;

                     for(var i=0;i<items.length;i++){
                         var img_src = items[i].thumbnail_url;
                         var format = img_src.substr(img_src.lastIndexOf('.'))
                         img_src = img_src.substr(0,img_src.lastIndexOf('-')+1)+"500x500"+format;

                         for(var j=0;j<existVideos.length;j++){
                             var videoid = existVideos[j];
                             if(videoid == items[i].id){
                                 flag = true;
                                 break;
                             }
                         }
                         if(flag){
                            videodata.innerHTML += '<div class="col-lg-4 mb-4"><div class="card h-100 border border-success"><h5 class="card-header"><strong>'+items[i].title+'</strong></h5>' +
                             '<div class="card-body"><img src="'+img_src+'" width="300px" height="300px"></div>'+
                             '<div class="card-footer"><button class="btn btn-primary" onclick="watch('+items[i].id+')">Watch</button>' +'       '+
                             '<button class="btn btn-warning" onclick="rec('+items[i].id+','+'\''+items[i].ename+'\''+')">分析</button><hr>觀看次數: '+items[i].view_count+'<br>開台長度: '+items[i].duration+'<br>開台時間: '+items[i].created_at+'</div></div></div>';

                            flag = false;
                         }else{
                             videodata.innerHTML += '<div class="col-lg-4 mb-4"><div class="card h-100"><h5 class="card-header"><strong>'+items[i].title+'</strong></h5>' +
                             '<div class="card-body"><img src="'+img_src+'" width="300px" height="300px"></div>'+
                             '<div class="card-footer"><button class="btn btn-primary" onclick="watch('+items[i].id+')">Watch</button>' +'       '+
                             '<button class="btn btn-warning" onclick="rec('+items[i].id+','+'\''+items[i].ename+'\''+')">分析</button><hr>觀看次數: '+items[i].view_count+'<br>開台長度: '+items[i].duration+'<br>開台時間: '+items[i].created_at+'</div></div></div>';
                         }


                     }

                }
            });

        }
        watch = function (id) {
            url = 'https://player.twitch.tv/?video='+id;
            embedUrl='<div align="center"><iframe src="'+url+'" frameborder="0" allowfullscreen="true" height="300px" width="495px"></iframe></div>';
		    videoContent.innerHTML = embedUrl;
		    $('#myModal').modal({backdrop: 'static', keyboard: false});
            $('#myModal').modal('show');

        }
        closeVideo = function () {
            videoContent.innerHTML="";
        }

        /*slide-bar*/
        var slider = document.getElementById("myRange");
        var range_value = document.getElementById("range_value");
        range_value.innerHTML = slider.value;
        slider.oninput = function() {
          range_value.innerHTML = this.value;
          videosCount = this.value;
        }

        /*message*/
        rec = function (video_id,user_name) {
            var message = confirm("確定要分析這部影片嗎?");
            if(message) {
                console.log("true");
                window.open("http://127.0.0.1:8003/show_result?id="+video_id+"&username="+user_name);
            }
            else
                console.log("false");
        }



    });
</script>